/* vars */
:root {
  --space-xxs: 5px;
  --space-xs: 10px;
  --space-s: 15px;
  --space-m: 20px;
  --space-l: 40px;

  --color-white: #ffffff;
  --color-grey: #f1f1f1;
  --color-grey-dark: #666666;

  --color-accent: #3C91E6;
  --color-error: #D62246;

  --border-m:  1px solid var(--color-grey-dark);
}

body, html {
  margin: 0;
  padding: 0;
}

body, input, button, textarea {
  font-size: var(--space-m);
  font-family: 'Roboto', Arial, sans-serif;
}

/* button */
.btn {
  border: 0;
  background: var(--color-white);
  padding: var(--space-xs) var(--space-m);
}

.btn:hover {
  background: var(--color-grey);
}

/* tooltip */
.tooltip {
  color: var(--color-grey-dark);
  font-size: var(--space-s);
}